
<nav class="navbar fixed-bottom navbar-light bg-primary">
    <a class="navbar-brand" href="#"><h5>&copy; Copyright: Bishnu Khanal, COMP308, Winter 2019, Progress Campus</h5></a>
  </nav>
<!--JavaScript Section-->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>

</html>