<% include ./partials/header.ejs %>
  <div class="container">
    <div class="jumbotron">

      <h1 class="display-4">Welcome to <%= title %>
      </h1>

      <% if (title == "Projects")
      {%>
        
        <h1>This is projects page and code contents go here</h1>
 //code for projects page

      <%} %>


      <% if (title == "Services")
      {%>
        
        
 //code for projects page
 <h1>This is services page and code contents go here</h1>

      <%} %>


      <% if (title == "Contact")
      {%>
        <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>

      <%} %>
      




    </div>
  </div>
<% include ./partials/footer.ejs %>